<div class="gallery">
    <figure>
        <img src="~/Images/Products/ModulerMobilyalar/GencOdasiTakimlari/Dolap/ÇiftKapiliDolap/1003CiftKapiliDolap.jpg" />
        <div class="product">@Html.Localize("çift_kapili_dolap").ToString(), @Html.Localize("lefkas").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1003</div>
    </figure>
    <figure>
        <img src="~/Images/Products/ModulerMobilyalar/GencOdasiTakimlari/Dolap/ÇiftKapiliDolap/1005CiftKapiliDolap.jpg" />
        <div class="product">@Html.Localize("çift_kapili_dolap").ToString(), @Html.Localize("alaska").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1005</div>
    </figure>
    <figure>
        <img src="~/Images/Products/ModulerMobilyalar/GencOdasiTakimlari/Dolap/ÇiftKapiliDolap/1006CiftKapiliDolap.jpg" />
        <div class="product">@Html.Localize("çift_kapili_dolap").ToString(), @Html.Localize("antik_beyaz").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1006</div>
    </figure>
    <figure>
        <img src="~/Images/Products/ModulerMobilyalar/GencOdasiTakimlari/Dolap/ÇiftKapiliDolap/1007CiftKapiliDolap.jpg" />
        <div class="product">@Html.Localize("çift_kapili_dolap").ToString(), @Html.Localize("venezya").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1007</div>
    </figure>
    <figure>
        <img src="~/Images/Products/ModulerMobilyalar/GencOdasiTakimlari/Dolap/ÇiftKapiliDolap/1008CiftKapiliDolapAcik.jpg" />
        <div class="product">@Html.Localize("çift_kapili_dolap").ToString(), @Html.Localize("beyaz").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1008</div>
    </figure>
</div>