
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gallery">
    <figure>
        <img style="width:auto" src="~/Images/Products/MasaSandalyeTakimlari/Sandalyeler/Koltuklar/928sari.jpg" />
        <div class="product">Mako @Html.Localize("koltuk").ToString(), @Html.Localize("sari").ToString()</div>
        <div class="product">@Html.Localize("dokme_sunger").ToString()</div>
        <div class="information">@Html.Localize("urun_kodu").ToString()928</div>
    </figure>
    <figure>
        <img style="width:auto" src="~/Images/Products/MasaSandalyeTakimlari/Sandalyeler/Koltuklar/928yesil.jpg" />
        <div class="product">Mako @Html.Localize("koltuk").ToString(), @Html.Localize("yesil").ToString()</div>
        <div class="product">@Html.Localize("dokme_sunger").ToString()</div>
        <div class="information">@Html.Localize("urun_kodu").ToString()928</div>
    </figure>
    <figure>
        <img style="width:auto" src="~/Images/Products/MasaSandalyeTakimlari/Sandalyeler/Koltuklar/928cappucino.jpg" />
        <div class="product">Mako @Html.Localize("koltuk").ToString(), @Html.Localize("kapucino").ToString()</div>
        <div class="product">@Html.Localize("dokme_sunger").ToString()</div>
        <div class="information">@Html.Localize("urun_kodu").ToString()928</div>
    </figure>
    <figure>
        <img style="width:auto" src="~/Images/Products/MasaSandalyeTakimlari/Sandalyeler/Koltuklar/551cappucino.jpg" />
        <div class="product">Luca @Html.Localize("koltuk").ToString(), @Html.Localize("kapucino").ToString()</div>
        <div class="information">@Html.Localize("urun_kodu").ToString()551</div>
    </figure>
    <figure>
        <img style="width:auto" src="~/Images/Products/MasaSandalyeTakimlari/Sandalyeler/Koltuklar/551sari.jpg" />
        <div class="product">Luca @Html.Localize("koltuk").ToString(), @Html.Localize("sari").ToString()</div>
        <div class="information">@Html.Localize("urun_kodu").ToString()551</div>
    </figure>
    <figure>
        <img style="width:auto" src="~/Images/Products/MasaSandalyeTakimlari/Sandalyeler/Koltuklar/551mavi.jpg" />
        <div class="product">Luca @Html.Localize("koltuk").ToString(), @Html.Localize("mavi").ToString()</div>
        <div class="information">@Html.Localize("urun_kodu").ToString()551</div>
    </figure>
    <figure>
        <img style="width:auto" src="~/Images/Products/MasaSandalyeTakimlari/Sandalyeler/Koltuklar/432.jpg" />
        <div class="product">@Html.Localize("koltuk").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()432</div>
    </figure>
    <figure>
        <img style="width:auto" src="~/Images/Products/MasaSandalyeTakimlari/Sandalyeler/Koltuklar/433.jpg" />
        <div class="product">@Html.Localize("koltuk").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()433</div>
    </figure>
    <figure>
        <img style="width:auto" src="~/Images/Products/MasaSandalyeTakimlari/Sandalyeler/Koltuklar/319.jpg" />
        <div class="product">@Html.Localize("koltuk").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()319</div>
    </figure>

</div>