<div class="cerceveproducts">
    <div class="gallery">
        <figure>
            <img src="~/Images/Products/ModulerMobilyalar/Ranzalar/1026.jpg" />
            <div class="product">@Html.Localize("ranza").ToString(), @Html.Localize("venezya").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1026</div>
        </figure>
        <figure>
            <img src="~/Images/Products/ModulerMobilyalar/Ranzalar/1027.jpg" />
            <div class="product">@Html.Localize("ranza").ToString(), @Html.Localize("mavi").ToString() &amp; @Html.Localize("kirmizi").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1027</div>
        </figure>
    </div>
</div>
<div class="cerceveproductsmobile">
    <ul class="cd-items">
        <li class="cd-item-nochild">
            <div class="pic-table"><img src="~/Images/Products/ModulerMobilyalar/Ranzalar/1026.jpg" /></div>
            <div class="product">@Html.Localize("ranza").ToString(), @Html.Localize("venezya").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1026</div>
        </li>
        <li class="cd-item-nochild">
            <div class="pic-table"><img src="~/Images/Products/ModulerMobilyalar/Ranzalar/1027.jpg" /></div>
            <div class="product">@Html.Localize("ranza").ToString(), @Html.Localize("mavi").ToString() &amp; @Html.Localize("kirmizi").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1027</div>
        </li>
    </ul>
</div>