
@{
    ViewBag.Title = "Tek Kapılı Dolaplar - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gallery">
    <figure>
        <img src="~/Images/Products/ModulerMobilyalar/GencOdasiTakimlari/Dolap/TekKapiliDolap/1003TekKapiliDolap.jpg" />
        <div class="product">@Html.Localize("tek_kapili_dolap").ToString(), @Html.Localize("lefkas").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1003</div>
    </figure>
    <figure>
        <img src="~/Images/Products/ModulerMobilyalar/GencOdasiTakimlari/Dolap/TekKapiliDolap/1005TekKapiliDolap.jpg" />
        <div class="product">@Html.Localize("tek_kapili_dolap").ToString(), @Html.Localize("alaska").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1005</div>
    </figure>
    <figure>
        <img src="~/Images/Products/ModulerMobilyalar/GencOdasiTakimlari/Dolap/TekKapiliDolap/1006TekKapiliDolap.jpg" />
        <div class="product">@Html.Localize("tek_kapili_dolap").ToString(), @Html.Localize("antik_beyaz").ToString()z</div><div class="information">@Html.Localize("urun_kodu").ToString()1006</div>
    </figure>
    <figure>
        <img src="~/Images/Products/ModulerMobilyalar/GencOdasiTakimlari/Dolap/TekKapiliDolap/1007TekKapiliDolap.jpg" />
        <div class="product">@Html.Localize("tek_kapili_dolap").ToString(), @Html.Localize("venezya").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1007</div>
    </figure>
    <figure>
        <img src="~/Images/Products/ModulerMobilyalar/GencOdasiTakimlari/Dolap/TekKapiliDolap/1008TekKapiliDolap.jpg" />
        <div class="product">@Html.Localize("tek_kapili_dolap").ToString(), @Html.Localize("beyaz").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1008</div>
    </figure>
</div>