
@{
    ViewBag.Title = "Üç Kapılı Dolaplar - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gallery">
    <figure>
        <img src="~/Images/Products/ModulerMobilyalar/GencOdasiTakimlari/Dolap/UcKapiliDolap/1000UcKapiliDolap.jpg" />
        <div class="product">@Html.Localize("uc_kapili_dolap").ToString(), @Html.Localize("flora").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1000</div>
    </figure>
    <figure>
        <img src="~/Images/Products/ModulerMobilyalar/GencOdasiTakimlari/Dolap/UcKapiliDolap/1001UcKapiliDolap.jpg" />
        <div class="product">@Html.Localize("uc_kapili_dolap").ToString(), @Html.Localize("beyaz").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1001</div>
    </figure>
    <figure>
        <img src="~/Images/Products/ModulerMobilyalar/GencOdasiTakimlari/Dolap/UcKapiliDolap/1002UcKapiliDolap.jpg" />
        <div class="product">@Html.Localize("uc_kapili_dolap").ToString(), @Html.Localize("beyaz").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1002</div>
    </figure>
    <figure>
        <img src="~/Images/Products/ModulerMobilyalar/GencOdasiTakimlari/Dolap/UcKapiliDolap/1004UcKapiliDolap.jpg" />
        <div class="product">@Html.Localize("uc_kapili_dolap").ToString(), @Html.Localize("antrasit").ToString()</div><div class="information">@Html.Localize("urun_kodu").ToString()1004</div>
    </figure>
</div>
