<div class="cerceveproducts">
    <div class="gallery">
        <figure>
            <img style="width:300px;" src="~/Images/Products/ModulerMobilyalar/Vestiyerler/1012Alaska.jpg" />
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("alaska").ToString()</div>
            <div class="information">@Html.Localize("genislik").ToString():90 @Html.Localize("derinlik").ToString():43 @Html.Localize("yukseklik").ToString():190</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()1012</div>
        </figure>
        <figure>
            <img style="width:300px;" src="~/Images/Products/ModulerMobilyalar/Vestiyerler/1012Venezya.jpg" />
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("venezya").ToString()</div>
            <div class="information">@Html.Localize("genislik").ToString():90 @Html.Localize("derinlik").ToString():43 @Html.Localize("yukseklik").ToString():190</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()1012</div>
        </figure>
        <figure>
            <img style="width:300px; height:500px;" src="~/Images/Products/ModulerMobilyalar/Vestiyerler/1013Antik.jpg" />
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("antik_beyaz").ToString()</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()1013</div>
        </figure>
        <figure>
            <img style="width:300px;" src="~/Images/Products/ModulerMobilyalar/Vestiyerler/1013Lefkas.jpg" />
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("lefkas").ToString()</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()1013</div>
        </figure>
        <figure>
            <img style="width:300px;" src="~/Images/Products/ModulerMobilyalar/Vestiyerler/1013Venezya.jpg" />
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("venezya").ToString()</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()1013</div>
        </figure>
        <figure>
            <img style="width:350px;" src="~/Images/Products/ModulerMobilyalar/Vestiyerler/807Antik.jpg" />
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("antik_beyaz").ToString()</div>
            <div class="information">@Html.Localize("genislik").ToString():125 @Html.Localize("derinlik").ToString():43 @Html.Localize("yukseklik").ToString():190</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()807</div>
        </figure>
        <figure>
            <img style="width:350px;" src="~/Images/Products/ModulerMobilyalar/Vestiyerler/807Lefkas.jpg" />
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("lefkas").ToString()</div>
            <div class="information">@Html.Localize("genislik").ToString():125 @Html.Localize("derinlik").ToString():43 @Html.Localize("yukseklik").ToString():190</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()807</div>
        </figure>
        <figure>
            <img style="width:300px;" src="~/Images/Products/ModulerMobilyalar/Vestiyerler/809Antik.jpg" />
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("antik_beyaz").ToString()</div>
            <div class="information">@Html.Localize("genislik").ToString():117 @Html.Localize("derinlik").ToString():43 @Html.Localize("yukseklik").ToString():190</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()809</div>
        </figure>
        <figure>
            <img style="width:300px;" src="~/Images/Products/ModulerMobilyalar/Vestiyerler/809Lefkas.jpg" />
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("lefkas").ToString()</div>
            <div class="information">@Html.Localize("genislik").ToString():117 @Html.Localize("derinlik").ToString():43 @Html.Localize("yukseklik").ToString():190</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()809</div>
        </figure>
        <figure>
            <img style="width:300px;" src="~/Images/Products/ModulerMobilyalar/Vestiyerler/809Venezya.jpg" />
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("venezya").ToString()</div>
            <div class="information">@Html.Localize("genislik").ToString():117 @Html.Localize("derinlik").ToString():43 @Html.Localize("yukseklik").ToString():190</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()809</div>
        </figure>
    </div>
</div>

<div class="cerceveproductsmobile">
    <ul class="cd-items">
        <li style="height:300px;" class="cd-item">
            <div class="pic-nightstand"><img style="height:250px;" src="~/Images/Products/ModulerMobilyalar/Vestiyerler/1012Alaska.jpg" /></div>
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("alaska").ToString()</div>
            <div class="information">@Html.Localize("genislik").ToString():90 @Html.Localize("derinlik").ToString():43 @Html.Localize("yukseklik").ToString():190</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()1012</div>
        </li>
        <li style="height:300px;" class="cd-item">
            <div class="pic-nightstand"><img style="height:250px;" src="~/Images/Products/ModulerMobilyalar/Vestiyerler/1012Venezya.jpg" /></div>
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("venezya").ToString()</div>
            <div class="information">@Html.Localize("genislik").ToString():90 @Html.Localize("derinlik").ToString():43 @Html.Localize("yukseklik").ToString():190</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()1012</div>
        </li>
        <li style="height:300px;" class="cd-item">
            <div class="pic-nightstand"><img style="height:250px;" src="~/Images/Products/ModulerMobilyalar/Vestiyerler/1013Antik.jpg" /></div>
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("antik_beyaz").ToString()</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()1013</div>
        </li>
        <li style="height:300px;" class="cd-item">
            <div class="pic-nightstand"><img style="height:250px;" src="~/Images/Products/ModulerMobilyalar/Vestiyerler/1013Venezya.jpg" /></div>
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("venezya").ToString()</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()1013</div>
        </li>
        <li style="height:300px;" class="cd-item">
            <div class="pic-nightstand"><img src="~/Images/Products/ModulerMobilyalar/Vestiyerler/1013Lefkas.jpg" /></div>
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("lefkas").ToString()</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()1013</div>
        </li>
        <li style="height:300px;" class="cd-item">
            <div class="pic-nightstand"><img style="height:96%;" src="~/Images/Products/ModulerMobilyalar/Vestiyerler/809Antik.jpg" /></div>
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("antik_beyaz").ToString()</div>
            <div class="information">@Html.Localize("genislik").ToString():117 @Html.Localize("derinlik").ToString():43 @Html.Localize("yukseklik").ToString():190</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()809</div>
        </li>
        <li style="height:300px;" class="cd-item">
            <div class="pic-nightstand"><img src="~/Images/Products/ModulerMobilyalar/Vestiyerler/809Lefkas.jpg" /></div>
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("lefkas").ToString()</div>
            <div class="information">@Html.Localize("genislik").ToString():117 @Html.Localize("derinlik").ToString():43 @Html.Localize("yukseklik").ToString():190</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()809</div>
        </li>
        <li style="height:300px;" class="cd-item">
            <div class="pic-nightstand"><img src="~/Images/Products/ModulerMobilyalar/Vestiyerler/809Venezya.jpg" /></div>
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("venezya").ToString()</div>
            <div class="information">@Html.Localize("genislik").ToString():117 @Html.Localize("derinlik").ToString():43 @Html.Localize("yukseklik").ToString():190</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()809</div>
        </li>
        <li style="height:300px;" class="cd-item">
            <div class="pic-nightstand"><img src="~/Images/Products/ModulerMobilyalar/Vestiyerler/807Antik.jpg" /></div>
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("antik_beyaz").ToString()</div>
            <div class="information">@Html.Localize("genislik").ToString():125 @Html.Localize("derinlik").ToString():43 @Html.Localize("yukseklik").ToString():190</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()807</div>
        </li>
        <li style="height:300px;" class="cd-item">
            <div class="pic-nightstand"><img src="~/Images/Products/ModulerMobilyalar/Vestiyerler/807Lefkas.jpg" /></div>
            <div class="product">@Html.Localize("vestiyer").ToString(), @Html.Localize("lefkas").ToString()</div>
            <div class="information">@Html.Localize("genislik").ToString():125 @Html.Localize("derinlik").ToString():43 @Html.Localize("yukseklik").ToString():190</div>
            <div class="information">@Html.Localize("urun_kodu").ToString()807</div>
        </li>
    </ul>
</div>